.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: #000;
    color: #fff;

    > canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .loading {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        font-size: 1000%;
    }

    > header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 1em;
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2em;

        > div.flex {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5em;
        }

        button {
            font: inherit;
            width: 2.5em;
            height: 2.5em;
            display: grid;
            place-items: center;
            flex: 0 0 auto;
            cursor: pointer;
            color: #fff;
            border: 2px solid #000;
            border-radius: 2px;
            background: #3a3a3a;
            margin: 0;
            box-sizing: border-box;
            transition: all 0.3s;

            &:hover {
                background-color: #adf;
                color: #000;
            }
        }

        .zoomSlider {
            color: #fff;
            flex: 0 0 auto;
            width: 240px;
        }
    }
}
