.viewer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    --size: 300px;

    > aside {
        position: absolute;
        left: 0;
        top: 0;
        width: var(--size);
        height: 100%;
        border-right: 1px solid #fff;
        background-color: #111;
        color: #eee;
        padding: 1em;

        .grid {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.5em 1em;

            > div {
                opacity: 0.5;
            }

            > b {
                opacity: 1;
            }
        }
    }

    > canvas {
        position: absolute;
        left: var(--size);
        top: 0;
        width: calc(100% - var(--size));
        height: 100%;
    }
}
